[submodule "catalog"]
	path = catalog
	url = ../catalog
[submodule "wishlist"]
	path = wishlist
	url = ../wishlist
[submodule "frontend"]
	path = frontend
	url = ../frontend
[submodule "inventory"]
	path = inventory
	url = ../inventory
[submodule "gateway"]
	path = gateway
	url = ../gateway
